

h1 {
  font-family: 'Playfair Display', serif;
  color: #AEA1BF;
}

#calIcon {
border: light;
padding-top: 1rem;
padding-bottom: 1.51rem;
}

.fa-sun {
  color: palegoldenrod;
}
.fa-moon {
  color: #AEA1BF;
}
.fa-save {
  padding-top: 2.5rem;
  padding-right: 0.5rem;
}

body {
  background: rgb(174,161,191);
  background: linear-gradient(0deg, rgba(174,161,191,0.44021358543417366) 0%, rgba(254,228,205,0.4430147058823529) 100%);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #141414;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #141414;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: #F2F2F2;
  color: #141414;
  border-radius: 0;
  border-bottom: 8px solid #141414;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  margin-bottom: 2rem;
  margin-right: 1rem;
}

.hour {
  font-family: 'Roboto', sans-serif;
  color: #141414;
  text-align: right;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 8px solid #141414;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #AEA1BF;
  color: white;

}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

/* MEDIA QUERY */

@media only screen and (max-width: 690px) {
  .container-fluid {
    display: none;
  }
}