

h1 {
  font-family: 'Playfair Display', serif;
  color: #AEA1BF;
}

#calIcon {
padding-top: 1rem;
padding-bottom: 1.5rem;
}

.fa-sun {
  color: #e2c567;
}
.fa-moon {
  color: #AEA1BF;
}

#currentDay {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  padding-top: 1.5rem;
}

#currentTime {
  font-size: 20px;
  letter-spacing: 1.25px;
}

body {
  background: rgb(174,161,191);
  background: linear-gradient(0deg, rgba(174,161,191,0.44021358543417366) 0%, rgba(254,228,205,0.4430147058823529) 100%);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #141414;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #141414;
  padding-top: 30px;
}

.jumbotron {
  text-align: center;
  background-color: #F2F2F2;
  color: #141414;
  border-radius: 0;
  border-bottom: 8px solid #141414;
  padding-bottom: 2rem;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 100px;
  margin-bottom: 1rem;
}

.hour {
  font-family: 'Roboto', sans-serif;
  color: #141414;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #AEA1BF;
  color: white;
}

.future {
  background-color: #FEE4CD;
  color: white;
}

.saveBtn {
  border-left: 8px solid #141414;
  background-color: #242424;
  color: white;
}

.saveBtn:hover {
  font-size: 18px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  color: white;
}

.div-mobile {
  display: none;
}

/* MEDIA QUERY */

@media only screen and (max-width: 770px) {
  .main {
    display: none;
  }
  .div-mobile {
    display: block;
    height: 333px;
  }
  body {
    background: none;
    background-color: #1A1A1A;
  }
}